.checkbox-round {
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid rgb(21 128 61);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: rgb(21 128 61);
}
